
.dataacuk_bar {
	background-color: #000;
	color: #fff;
	padding: 3px;
}
table.scheme, table.translations {
	border-collapse: collapse;
}
table.scheme td, table.translations td {
	border: solid 1px #000;
	padding: 3px;
}

.download {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 {
	color: #666;
	font-size: 120%;
	font-family: sans-serif;
}
h2 {
	color: #666;
	font-size: 110%;
	font-family: sans-serif;
	border-bottom: solid 2px #666;
}
h3 {
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	font-weight: bold;
}
